 section{
     margin: 0;
 }

h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
    

}
h2{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    
}
h3{
    padding-left: 30px;
    padding-right: 30px;
}
p{
    padding-left: 30px;
    padding-right: 30px;
}
.bagworld{
    color: orange;
}
section{
    display: flex;
    background-image: url("bg2.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px;
    padding-bottom: 100px;


    
}
.halfwidth{
    width: 50%;
    padding-left: 5px;
}
.image{
   
   padding-top: 50px;
   size: 10%;
}
P{
    font-size: 30px;

}
.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700
    ;
}
.loremsection{
    display: flex;
    background-image: url(bg1.jpeg);
    font-size: 30px;
    box-shadow: 10px 10px green;
   
}
.lorem{
    padding-top: 200px;
   padding-left: 30px;
   padding-right: 30px;
}
.third{
    display: flex;
    
}
.abc{
    box-shadow: 10px 10px 40px green;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    
}
#box1{
    border-left: 10px solid;
    border-image: linear-gradient(red, blue) ;
    border-image-slice: 1;
    border-radius: 20px;
}
   
#box2{
    border-left: 10px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}

    
